<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% include analytics.html %}
  </head>
  <body>
    <header>
      <h1>Brady Miller</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:brady.g.miller@gmail.com">Email</a>(<a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x27DEF05B1A8A6D4F">PGP key</a>)</li>
        <li><a href="https://github.com/bradymiller">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/brady-miller-b807b61b">LinkedIn</a></li>
      </ul>
    </footer>
  </body>
</html>
