<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% include analytics.html %}
  </head>
  <body>
    <header>
      <h1>{{ site.name }}</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:{{ site.email }}">Email</a> | <a href="{{ site.pgp_key_link }}">PGP key</a></li>
        <li><a href="{{ site.github_link }}">GitHub</a></li>
        <li><a href="{{ site.linkedin_link }}">LinkedIn</a></li>
      </ul>
    </footer>
  </body>
</html>
